
/* Body */



/* Styles */

h1
h2
h3
h4
h5
h6 {
    font-family: 'Quicksand', 'sans-serif';
}

.section-heading {
    font-family: 'Quicksand', 'sans-serif';
    color:#696d7d;
    padding-top: 25px;
    position: relative;
    text-align: center;
}

.para1 {
    font-family: 'Quicksand', 'sans-serif';
    color:#696d7d;
    padding-top: 25px;
    position: relative;
    text-align: center;
}
.h2 {
    font-family: 'Quicksand', 'sans-serif';
    color:#696d7d;
    padding-top: 100px;
    
}

.h3 {
    font-family: 'Quicksand', 'sans-serif';
    color:#696d7d;
}

.card-text {
    font-family: 'Quicksand', 'sans-serif';
    color:#696d7d;
}



/* Navigation Bar */

.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #ffe5d9 !important;
    margin-bottom: 1px;
}


.nav-link  {
    color: black !important; 
    position: relative;
    margin-left: 0;
    padding:10;
    margin-right: 100px;
    font-family: 'Quicksand' , 'sans-serif';
}

/* Jumbotron */

.jumbotron {
    background-color: #d8e2dc;
    height: 300px;

}

#placeholder {
    border-radius: 75%;
    z-index: 1;
    position: relative;
    margin-left: 1230px;
    margin-top: -350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #696d7d;
}


/* work section */

.card-columns {
    margin-top: 100px;
    margin-left: 200px;
    float: none;
    margin-bottom: 100px;
}

/* skills section */

.information {
    background-color: #ffcad4;
    height: 300px;
}

