
/* Body */

 body {
    width: 100%;
 
    } 


/* Styles */

h1
h2
h3
h4
h5
h6 {
    font-family: 'Quicksand', 'sans-serif';
    font-size: 2em;
}

.section-heading {
    font-family: 'Quicksand', 'sans-serif';
    color:#696d7d;
    padding-top: 25px;
    position: relative;
    text-align: center;
    font-size: 2em;
}

.para1 {
    font-family: 'Quicksand', 'sans-serif';
    color:#696d7d;
    padding-top: 25px;
    position: relative;
    text-align: center;
    font-size: 2em;
}
.h2 {
    font-family: 'Quicksand', 'sans-serif';
    color:#696d7d;
    padding-top: 100px;
    
}

.h3 {
    font-family: 'Quicksand', 'sans-serif';
    color:#696d7d;
}

.work-heading {
    font-family: 'Quicksand', 'sans-serif';
    color:#696d7d;
    text-align: center;
}

.about {
    font-family: 'Quicksand', 'sans-serif';
    color:#696d7d;
    text-align: center;
}

a.navbar-brand {
    font-size: 2em;
}

.card-text {
    font-family: 'Quicksand', 'sans-serif';
    color:#696d7d;
}



/* Navigation Bar */

.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #ffe5d9 !important;
    margin-bottom: 1px;
}


.nav-link  {
    color: black !important; 
    position: relative;
    margin-left: 0;
    padding:10;
    margin-right: 100px;
    font-family: 'Quicksand' , 'sans-serif';
    font-size: 2em;
}
a:hover.nav-link {
    box-shadow: 0px 3px #696d7d;
    
}

/* Jumbotron */

.jumbotron {
    background-color: #d8e2dc;
    height: 300px;

}

#placeholder {
    border-radius: 75%;
    z-index: 1;
    position: relative;
    margin-left: 1450px;
    margin-top: -300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #696d7d;
}


/* work section */

.card-columns {
    margin-top: 100px;
    display: flex; 
    align-items: center;
   
 
}

img.card-img-top {
    width: 18rem;
    padding: 10px;
}


/* skills section information */

.information {
    background-color: #ffcad4;
    height: 300px;
    margin-bottom: 100px;
}

/* skills section expandable cards */

/* parent container */
    #container {
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
        overflow:hidden;
        height:600px;
        font-family: 'Roboto', sans-serif;


    }

    /* child containers */

    #container .options {

        display:flex;
        flex-direction: row;
        align-items: stretch;
        overflow: hidden;
        min-width:600px;
        max-width: 900px;
        width: calc(100% - 100px);
        height:400px;
        padding:0px;
    }

    #container .options .option {
        position: relative;
        overflow: hidden;
        min-width: 60px;
        margin: 10ox;
        background:var(--optionBackground, var(--defaultBackground, #696d7d));
        background-size: auto 120%;
        background-position: center;
        cursor: pointer;
        transition: 0.5s cubic-bezier(0.05, 0.61, 0.41,0.95);
        padding: 0px;

    }

    #container .options .option :nth-child(1){
        --defaultBackground : #696d7d;
    }

    #container .options .option :nth-child(2){
        --defaultBackground : #fcfe51;
    }

    #container .options .option :nth-child(3){
        --defaultBackground : #fd9cec;
    }
    #container .options .option :nth-child(4){
        --defaultBackground : #2ecc71;
    }
    #container .options .option :nth-child(5){
        --defaultBackground : #ffc354;
    }

    #container .options .option.active {
        flex-grow: 10000;
        transform: scale(1);
        max-width: 600px;
        margin: 0px;
        border-radius: 40px;
        background-size: auto 100%;

    }

    #container .options .option.active .shadow {
        box-shadow: inset 0 -120px 120px -120px black,
        inset 0 -120px 120px -120px black;


    }

    #container .options .option.active .label {
        bottom: 20px;
        left: 20px;

    }

    #container .options .option.active .label .info > div {
        left: 45px;
        opacity: 1;

    }

    #container .options .option:not(.active){
        flex-grow: 1;
        border-radius: 30px;
    }

    #container .options .option:not(.active) .shadow{
        bottom: -40px;
        box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 0px -100px black;
    }

    #container .options .option:not(.active) .label{
        bottom: 10px;
        left: 10px;
    }

    #container .options .option:not(.active) .label .info > div {
        left: 0px;
        opacity: 0;
    }

    #container .options .option .shadow {
        position: absolute;
        bottom: 0px;
        left:0;
        height: 120px;
        transition: 0.5s cubic-bezier(0.05 0.61 0.41 0.95);
    }

    #container .options .option .label {
        display: flex;
        position: absolute;
        right: 0;
        height: 40px;
        transition: 0.5s cubic-bezier(0.05 0.61 0.41 0.95);
    }

    #container .options .option .label .icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-width: 40px;
        max-width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: white;
        color: var(--defaultBackground);
    }

    #container .options .option .label .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
        color: white;
        /* white-space: pre; */
    }

    #container .options .option .label .sub {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 40px;
        color: white;
        white-space: pre;
    
    }

    #container .options .option .label .info >div {
        position: absolute;
        transition: 0.5s cubic-bezier(0.05 0.61 0.41 0.95) opacity 0.5s ease-out;
    }

    #container .options .option .label .info .main {
        font-weight: bold;
        font-size: 2rem;

    }

    /* about me */

    .panel-group {
        height: 400px; 
        margin-bottom: 50px;
    
        
    }

    .panel.panel-default .panel-heading {
        background-color: #d8e2dc;

    }


    /* footer */

    .footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #696d7d;
        height: 200px;
        margin-top: 20px;
    
    }

    .socials a {
        background-color: #696d7d;
        align-items: center;
        margin-left: 400px;
        
    }

    .socials a i {
        color:white;
        padding: 12px;
        font-size: 3em;
        

        
    }
    

    